<div class='container'>
  <div class='row mx-auto'>
    <div class="col-md-8 ">
<!--管理者側／商品一覧画面-->
<!--ここでのafter_taxはItemモデルに定義したメソッドのこと-->
    <h3>商品一覧</h3>

<!--！ワイヤーフレームの新規登録ボタンと見た目が違う-->
    <!--商品登録・更新成功のアラートメッセージ-->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.before_tax.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <% if item.is_sale %>
          <td class="text-success"><strong>販売中</strong></p>
          <% else %>
          <td class="text-muted"><strong>販売停止</strong></p>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @items %>
    </div>
    <div class="col-md-2">
      <%= link_to "新規登録", new_admin_item_path, class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>