<!--顧客側／トップページ-->
<div class="container-fluid py-5">
  <div class="row">

    <!--ジャンル検索機能-->
    <div class="col-md-2 offset-md-1">
      <%= render "searches/genre_search", genres: @genres %>
    </div>

    <!--トップページの画像-->
    <div class="col-md-8 mx-auto">
      <%= image_tag 'top.jpg', size: '750x450', class:"top"%>
      <p class="top-content">
        ようこそながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入は会員登録が必要になります。
      </p>

      <!--新着商品-->
      <div class="row mt-5">
        <h3>新着商品</h3><br>
      </div>
      <div class="row">
        <% @new_items.each do |item| %>
          <div class="new-items mr-5">
            <%= link_to item_path(item.id) do%>
              <%= image_tag item.image, size: '200x140' %>
            <% end %>
            <p><%= link_to item.name, item_path(item.id) %></p>
            <p>¥<%= item.before_tax.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
      <div class="text-right" style="margin-right: 50px;">
        <%= link_to "すべての商品を見る", items_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>