<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-auto mt-3">
      <%= image_tag 'top.jpg', size: '750x450', class:"top"%>
      <p class="top-content">
        ようこそながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入は会員登録が必要になります。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto mt-3">
      <h3>新着商品</h3>
    </div>
  </div>

  <div class="row row-cols-4">
    <% @new_items.each do |item| %>
      <div class="new-items">
        <%= image_tag item.image, size: '200x150' %>
        <p><%= link_to item.name, item_path(item.id) %></p>
        <p>¥<%= item.before_tax.to_s(:delimited) %></p>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "すべての商品を見る", items_path, class: "btn btn-primary" %>
  </div>

</div>