<div class="container mt-5 py-5">
  <div class="row mx-auto">
    <div class="col-md-6 offset-3">
      <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集　</h3>

       <% if @customer.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @customer.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>

<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
      <table>
        <tbody>
          <tr>
            <td class="p-1">会員ID</td>
            <td class="p-1"><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="p-1">氏名</td>
            <td class="p-1"><%= f.text_field :last_name %></td>
            <td class="p-1"><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td class="p-1">フリガナ</td>
            <td class="p-1"><%= f.text_field :kana_last_name %></td>
            <td class="p-1"><%= f.text_field :kana_first_name %></td>
          </tr>
          <tr>
            <td class="p-1">郵便番号<br>(ハイフンなし)</td>
            <td class="p-1"><%= f.text_field :post_cord %></td>
          </tr>
          <tr>
            <td class="p-1">住所</td>
            <td class="p-1" colspan="3"><%= f.text_field :address,size: "55" %></td>
          </tr>
          <tr>
            <td class="p-1">電話番号<br>(ハイフンなし)</td>
            <td class="p-1"><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td class="p-1">メールアドレス</td>
            <td class="p-1"><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td class="p-1">会員ステータス</td>
            <td class="p-1">
            <%= f.radio_button :is_active, true %>
　          <%= f.label :is_active_true, "有効" %>
　          <%= f.radio_button :is_active, false %>
　          <%= f.label :is_active_false,"退会" %>
　          </td>
          </tr>
          <tr>
            <td class="p-2"><%= f.submit "変更を保存", class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
       <% end %>
    </div>
  </div>
</div>