<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8">
      <h1>会員一覧</h1>
      <table class="table table-hover table-inverse">
      <thead>
        <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      </thead>
      <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%=customer.id%></td>
        <td>
          <%=link_to customer.last_name,admin_customer_path(customer) %><%=link_to customer.first_name,admin_customer_path(customer) %>
        </td>
        <td><%=customer.email %></td>
        <td class="<%= customer.is_active ? 'text-success' : 'text-muted' %>"><%= customer.is_active ? '有効' : '退会' %></td>
      </tr>
      <% end %>
      
      </tbody>
  </table>
  <%= paginate @customers %>
