<div class="container px-5 px-sm-0">
  <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
  <%= flash[:notice]%>
  <div class="row">
    <div class="col-md-3">
      <p>会員ID</p>
      <p>氏名</p>
      <p>フリガナ</p>
      <p>郵便番号</p>
      <p>住所</p>
      <p>電話番号</p>
      <p>メールアドレス</p>
      <p>会員ステータス</p>
    </div>
    <div class="col-md-9">
      <p><%= @customer.id %></p>
      <p><%= @customer.last_name  %> <%= @customer.first_name %></p>
      <p><%= @customer.kana_last_name  %> <%= @customer.kana_first_name %></p>
      <p><%= @customer.post_cord%></p>
      <p><%= @customer.address %></p>
      <p><%= @customer.phone_number %></p>
      <p><%= @customer.email %></p>
      <p class="<%= @customer.is_active ? 'text-success' : 'text-muted' %>"><%= @customer.is_active ? '有効' : '退会' %></p>
      <%= link_to "編集する ", edit_admin_customer_path(@customer),class: "btn btn-sm btn-success"%>
      <button type="button" class="btn-sm btn-primary">注文履歴一覧を見る</button>
    </div>
    
  </div>
</div>  