<h3>注文情報入力</h3>
<%= form_with model: Order, url: orders_check_path, method: :post do |f| %>

  <h4>支払方法</h4>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
  <br>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

  <h4>配送先</h4>

<% end %>