<div class="container mt-5">
  <h3>注文詳細履歴</h3>

  <div class="row">
    <div class="col-md-7">
      <strong>注文情報</strong>
      <table class="table-bordered my-2", style="border: solid 2px black;">
          <tr height="50">
            <td class="table-secondary">注文日</td>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr height="50">
            <td width="125" class="table-secondary">配送先</td>
            <td width="500">
             〒<%= @order.post_code %><br>
              <%= @order.address %><br>
              <%= @order.address_name %>
            </td>
          </tr>
           <tr height="50">
            <td class="table-secondary">支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
           <tr height="50">
            <td class="table-secondary">ステータス</td>
            <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-5">
      <strong>請求情報</strong>
      <table class="table-bordered mt-2", style="border: solid 2px black;">
        <tr height="50">
          <td width="150" class="table-secondary">商品合計</td>
          <td width="150">¥<%= (@order.total_price - @postage).to_s(:delimited) %></td>
        </tr>
        <tr height="50">
          <td class="table-secondary">配送料</td>
          <td>¥<%= @postage.to_s(:delimited) %></td>
        </tr>
        <tr height="50">
          <td class="table-secondary"><strong>ご請求額</strong></td>
          <td>¥<%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <strong>注文内容</strong>
  <table class="table-bordered mt-2", style="border: solid 2px black;">
    <thead height="50" class="table-secondary">
      <tr>
        <th width="500">商品名</th>
        <th width="100">単価(税込)</th>
        <th width="80">個数</th>
        <th width="80">小計</th>
      </tr>
    </thead>
    <% @order.order_details.each do |order_details| %>
    <tbody height="50">
      <tr>
        <td><%= order_details.item.name %></td>
        <td>¥<%= order_details.after_tax.to_s(:delimited) %></td>
        <td><%= order_details.amount %></td>
        <td>¥<%= (order_details.amount * order_details.after_tax).to_s(:delimited) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>