<nav class="fixed-top navbar navbar-expand-lg navbar-dark" style="background-color :#fff7ef">
  <% if admin_signed_in? %>
    <%= link_to admin_root_path, class: "nav-link text-dark" do %>
     <%= image_tag 'nagano_cake_logo.png', size: '180x50' %>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "nav-link text-dark" do %>
     <%= image_tag 'nagano_cake_logo.png',size: '180x50' %>
    <% end %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if admin_signed_in? %>
        <li class="nav-item mx-3">
          <%= link_to '商品一覧', admin_items_path, class: "nav-link text-dark btn btn-primary" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to '会員一覧', admin_customers_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to '注文履歴一覧', admin_root_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>
      <% elsif customer_signed_in? %>
        <li class="nav-item mx-3">
          <%= link_to 'マイページ', customers_mypage_path, class: "nav-link text-dark btn btn-warning" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to '商品一覧', items_path, class: "nav-link text-dark btn btn-info" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'カート', cart_items_path, class: "nav-link text-dark btn btn-light" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-dark' %>
        </li>
        <li>
          <button type="button mx-3" class="btn btn-link">Link</button>
        </li>
      <% else %>
        <li class="nav-item mx-3">
          <%= link_to 'About', about_path, class: "nav-link text-dark btn btn-primary" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to '商品一覧', items_path, class: "nav-link text-dark btn btn-secondary" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to '新規登録', new_customer_registration_path, class: "nav-link text-dark btn btn-success" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark btn btn-danger' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>


